body{

    background-color: #83a8eb;
    margin: 20px;
    padding: 15px;
}

p{
    font-family:sans-serif;
    color: #4774d5;
}

h1{
    font-family:sans-serif;
    color: #4774d5;

}

footer{

    color: aliceblue;
    text-align: center;
    padding: 15px;
    margin-top: 50px;
}